---
// component imports
import BaseLayout from "@layouts/BaseLayout.astro";
import Section from "@layouts/SectionWrapper.astro";
---

<BaseLayout>
  <Section>
    <div class="grid place-items-center">
      <p class="bold text-xl">Oops</p>

      <h3 class="bold text-xl">
        Go back to <a href="/" class="underline">main page</a>
      </h3>
    </div>
  </Section>
</BaseLayout>
