---
const { title } = Astro.props;
---

<!--div class="flex items-start flex-col"-->
<div class="flex items-center md:items-start flex-col">
  <h2 class="capitalize font-bold text-3xl">{title}</h2>
  <div class="bg-yellow-400 rounded-xl w-full md:w-12 h-1"></div>
</div>
